@model EntityLayer.Concretes.Content

@{
    ViewBag.Title = "NewContent";
    Layout = "~/Areas/Writer/Views/Shared/_Layout.cshtml";
}

<h2>Yeni İçerik Ekleme</h2>
<br />
@using (Html.BeginForm("NewContent", "Content", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.HeadingID, new { Value = ViewBag.HeadingID })
        @Html.Label("İçerik")
        @Html.TextAreaFor(x => x.ContentValue, 10, 30, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ContentValue, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">İçerik Ekle</button>
    </div>
}

