@using EntityLayer.Concretes
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Hakkında Veri Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Hakkımda Başlığı</th>
        <th>Aktif Yap</th>
        <th>Pasif Yap</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AboutID</th>
            <td>Başlık</td>
            <td><a href="#" class="btn btn-warning">Aktif Yap</a></td>
            <td><a href="#" class="btn btn-danger">Pasif Yap</a></td>
        </tr>
    }
</table>
<br />

@Html.Action("AddAboutPartial","About")