<!-- Sidebar user panel (optional) -->
<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        @if (Convert.ToInt32(ViewData["ID"]) > 0)
        {
            <img src="~/images/@ViewData["Image"]" class="img-circle elevation-2" alt="User Image">
        }
    </div>
    <div class="info">
        @if (Convert.ToInt32(ViewData["ID"]) > 0)
        {
            <a href="/Writer/Content/MyContent" class="d-block">@ViewData["Name"]</a>
        }
        else
        {
            <a href="/Writer/Login/Index" class="d-block">Giriş Yap</a>
        }
    </div>
</div>

